@font-face {
    font-family: "Bootstrap Icons";
    src: url("/fonts/bootstrap-icons.woff2") format("woff2"),
         url("/fonts/bootstrap-icons.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}