@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('/css/fonts.css');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--body-background-color);
}

svg,
img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    width: 100%;
    margin: 2rem 0;
    border: none;
    border: 1px solid var(--hr-color-grey);
    opacity: 0.2;

    &.accent {
        border: 1px solid var(--hr-color-green);
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--heading-text-color);
}

h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
}

h2 {
    font-size: 48px;
    line-height: 65px;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    color: var(--white-color);
}

a {
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--link-color);

    &:hover {
        color: var(--link-hover-color);
    }

    &::before,
    &::after {
        color: var(--link-hover-color);
    }
}

.container {
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width >= 768px) {
        max-width: 760px;
    }

    @media (width >= 1200px) {
        max-width: 1140px;
    }

    @media (width >= 1400px) {
        max-width: 1320px;
    }
}

.hero-checklist {
    list-style: none;
    padding: 0;
    margin: 0;

    .hero-check-list-item {
        margin-bottom: 0.5rem;

        &:before {
            content: "\F26B";
            font-family: "Bootstrap Icons";
            color: var(--color-primary);
            font-size: 1rem;
            margin-right: 0.5rem;
        }
    }
}

/* ---------- Layouts start ---------- */

.app-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    padding: 1rem;
}

/* ---------- Layouts end ---------- */

/* ---------- Components start ---------- */
.badge {
    display: inline-block;
    background-color: var(--badge-bg-color);
    color: var(--badge-text-color);
    border-radius: 25px;
    padding: 0.2rem 1rem 0.2rem 0.7rem;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;

    &::before {
        content: "\F309";
        font-family: "Bootstrap Icons";
        vertical-align: middle;
        margin-right: 4px;
        font-size: 1.2rem;
        color: var(--badge-dot-color);
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
}

.btn--primary {
    background-color: var(--btn-p-bg-color);
    color: var(--btn-p-text-color);
    border-color: var(--btn-p-border-color);
}

    .btn--primary:hover {
        background-color: var(--btn-p-bg-hover-color);
        color: var(--btn-p-text-hover-color);
    }

.btn--seconadry {
    background-color: var(--btn-s-bg-color);
    color: var(--dark-color);
    border-color: var(--grey-color)
}

.btn--secondary:hover {
    color: var(--grey-color);
    border-color: var(--dark-grey-color);
}

.btn--sign-out {
    margin:0;
    padding: 0;
    
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
}

.btn--icon::after {
    content: "\F285";
    font-family: "Bootstrap Icons";
    margin-left: 1rem;
    color: currentColor;
}

.btn--icon-only {
    padding: 0.8rem;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

    .btn--icon-only::after {
        content: "\F479";
        font-size: 1.5rem;
        margin: 0;
        color: currentColor;
    }

.mobile-btn {
    padding: 0.8rem 0.8rem;
    height: 50px;
    width: 50px;
    border-radius: 10px;

    &::after {
        content: "\F479";
        font-family: "Bootstrap Icons";
        vertical-align: middle;
        font-size: 1.5rem;
        color: currentColor;
        margin: 0rem;
    }
}



/* ---------- Components end ---------- */

/* ---------- Global sections start ---------- */
header {
    background-color: var(--header-bg-color);
    background-image: url('/images/herosection-bgimage.png');
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--header-text-color);
    border-radius: 20px;
    padding: 0 0 1rem;

    &:has(.section__hero) {
        padding: 0;
    }
}

footer {
    .section__footer {
        padding-bottom: 1rem;
    }

    .footer-container {
        background-color: var(--header-bg-color);
        background-image: url('/images/herosection-bgimage.png');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
        padding: 2rem 2rem 1rem 2rem;
        width: 100%;

        @media (width >= 768px) {
            padding: 2rem 2rem 1rem 2rem;
        }

        @media (width >= 1200px) {
            padding: 4rem 4rem 2rem 4rem;
        }

        .footer-hr {
            border: 1px solid var(--hr-color-green);
        }

        .footer-headline {
            display: none;

            @media (width >= 768px) {
                display: block;
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: var(--footer-text-color);
                width: 300px;
                text-align: right;
            }

            @media (width >= 1200px) {
                font-family: "Poppins", sans-serif;
                font-size: 28px;
                font-weight: 500;
                color: var(--footer-text-color);
                width: 634px;
                text-align: right;
            }
        }

        .footer-subtitle {
            margin-bottom: 1.5rem;
        }

        .footer-text1 {
            font-family: "DM Sans", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: var(--white-color);
            width: 360px;
            margin: 1rem 0rem 1.5rem 0rem;
            padding: 0;

            @media (width >= 768px) {
                width: 300px;
            }

            @media (width >= 1200px) {
                width: 360px;
            }
        }

        .footer-text2 {
            font-family: "DM Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--white-color);

            @media (width >= 768px) {
                width: 300px;
            }

            @media (width >= 1200px) {
                width: 380px;
            }
        }

        .footer-text3 {
            font-family: "DM Sans", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: var(--white-color);
            text-align: center;
        }

        .footer-section-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-section-middle {
            display: flex;
            justify-content: space-between;

            @media (width >= 768px) {
            }

            @media (width >= 1200px) {
            }

            .footer-section-middle-left {
                display: none;

                @media (width >= 768px) {
                    display: block;
                }

                @media (width >= 1200px) {
                    text-align: left;
                }
            }

            .footer-section-middle-right {
                text-align: left;

                @media (width >= 768px) {
                    text-align: right;
                }

                @media (width >= 1200px) {
                    text-align: right;
                }
            }
        }

        .footer-section-bottom {

            @media (width >= 768px) {
            }

            @media (width >= 1200px) {
            }
        }
    }
}


/* ---------- Global sections end ---------- */

.page-title {
    text-align: center;
    margin: 3rem 0;


    @media (width >= 768px) {
        margin: 4rem 0;
    }

    @media (width >= 1200px) {
        margin: 5rem 0;
    }

    .page-title-text {
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        font-weight: 500;


        @media (width >= 768px) {
            font-size: 54px;
        }

        @media (width >= 1200px) {
            font-size: 60px;
        }
    }
}
/* ---------- Global sections end ---------- */

/* ---------- Header sections start ---------- */
.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    color: var(--header-text-color);
    padding: 1.5rem 2rem 0.5rem;

    @media (width >= 768px) {
        grid-template-columns: 1fr 1fr auto;
        gap: 2rem;
    }

    @media (width >= 1200px) {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

/* Menu */
.main-menu {
    display: none;
    justify-content: center;

    @media (width >= 1200px) {
        display: flex;
    }
}

.account-menu {
    display: none;
    justify-content: flex-end;

    .menu-item-link {
        display: none;
        cursor: pointer;

        @media (width >= 1600px) {
            display: inline-block;
            cursor: pointer;
        }
    }

    @media (width >= 768px) {
        display: flex;

    }
}

.mobile-btn {
    display: inline-block;

    @media (width >= 1200px) {
        display: none;
    }
}

.menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    font-size: 1rem;
    position: relative;
}

.menu-item-link {
    color: var(--menu-item-link-color);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: var(--menu-item-link-hover-color);
        text-decoration: none;
        text-underline-offset: 8px;
    }

    &:active,
    &.active {
        color: var(--menu-item-link-active-color);
    }
}

.menu-item-dropdown-link {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 600;

    &:hover {
        color: var(--dark-color);
        text-decoration: underline;
        text-underline-offset: 6px;
    }

    &:active,
    &.active {
        color: var(--menu-item-link-active-color);
    }
}

.menu-item--has-dropdown .menu-item-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

    .menu-item--has-dropdown .menu-item-link::after {
        content: "\F282";
        font-family: "Bootstrap Icons";
        font-size: 1rem;
        margin-left: 0.5rem;
        color: currentColor;
    }

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-primary);
    border-radius: 10px;
    min-width: 200px;
    list-style: none;
    padding: 0.5rem 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.2s ease;
}

/* Active state */
.menu-item--open .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--dark-color);
}

.mobile-menu-flyout {
    position: fixed;
    inset: 0;
    background: var(--body-background-color);
    z-index: 999;
    top: 120px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease;
}

    .mobile-menu-flyout.is-open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    /* Make menus vertical on mobile */
    .mobile-menu-flyout .menu {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        border-bottom: 1px solid var(--grey-color);
    }

    /* Dropdown in mobil */
    .mobile-menu-flyout .dropdown {
        position: static;
        transform: none;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    .mobile-menu-flyout .menu-item--open .dropdown {
        display: block;
        background-color: var(--body-background-color);
    }

    /* Huvudlinks */
    .mobile-menu-flyout .menu-item-link {
        color: var(--dark-color);
        font-size: 1.25rem;
        padding: 0.75rem 0;
    }

    /* Dropdown-links */
    .mobile-menu-flyout .menu-item-dropdown-link {
        color: var(--black-color);
        opacity: 0.85;
        padding-left: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
    }

    /* Hover / active */
    .mobile-menu-flyout a:hover {
        opacity: 1;
    }


/* ---------- Header sections end ---------- */

/* ---------- Hero section start ---------- */
.section__hero {
    padding: 1rem 0rem 0;

    .container {
        margin-top: 2rem;

        @media (width >= 768px) {
            margin-top: 3rem;
        }

        @media (width >= 1200px) {
            margin-top: 5rem;
        }
    }

    .hero-hr {
        margin: 0;
    }

    .hero-area {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto;
        grid-template-areas: "image" "title" "description" "checklist" "hr" "cta";
        align-items: end;
        row-gap: 1rem;
        text-align: center;

        @media (width >= 768px) {
            column-gap: 3rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto auto auto auto;
            grid-template-areas: "title title" "description description" "hr hr" "checklist image" "cta image";
        }

        @media (width >= 1200px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto auto auto auto;
            grid-template-areas: "title image" "description image" "checklist image" "hr image" "cta image";
            text-align: left;
        }

        .hero-title {
            grid-area: title;

            h1 {
                color: var(--hero-title-color);
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-size: 38px;
                line-height: 40px;

                @media (width >= 768px) {
                    font-size: 48px;
                    line-height: 60px;
                }

                @media (width >= 1200px) {
                    font-size: 54px;
                    line-height: 65px;
                }
            }
        }

        .hero-description {
            grid-area: description;
        }

        .hero-checklist {
            grid-area: checklist;
            display: grid;
            grid-template-columns: 1fr;
            margin: 0rem 2rem;
            text-align: left;

            @media (width >= 768px) {
                grid-template-columns: 1fr;
                margin: 0rem;
            }

            @media (width >= 1200px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        .hero-hr {
            grid-area: hr;
            display: block;
            margin: 1.5rem 0;

            @media (width >= 768px) {
                margin: 0.5rem 0;
            }

            @media (width >= 1200px) {
                margin: 1.5rem 0;
            }
        }

        .cta-btn {
            grid-area: cta;
            margin-bottom: 2rem;
            display: grid;


            @media (width >= 768px) {
                margin-bottom: 4rem;
            }

            @media (width >= 1200px) {
                display: flex;
                margin-bottom: 8rem;
            }
        }

        .hero-image {
            grid-area: image;
        }
    }
}

.hero-hr {
    border-color: var(--hr-color-green);
}

/* ---------- Hero section end ---------- */

/* ---------- Brands section start ---------- */
.section__brands {
    display: none;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--brand-bg-color);
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 1.5rem 0;

    @media (width >= 992px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    @media (width >= 1600px) {
        grid-template-columns: 3fr 2fr;
    }

    .brand-slider {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (width >= 1200px) {
            grid-template-columns: repeat(5, 1fr);
        }

        #brand-3,
        #brand-4,
        #brand-5 {
            display: none;

            @media (width >= 1600px) {
                display: block;
            }
        }
    }

    h2 {
        margin: 0;
        text-align: right;
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        font-weight: 700;
    }
}

/* ---------- Brands section end ---------- */

/* ---------- About us section start ---------- */
.section__about-us {
    text-align: center;
    margin: 1.5rem 0;

    @media (width >= 1200px) {
        text-align: left;
    }

    .about-us-area {
        display: flex;
        gap: 2rem;

        .about-us-image {
            display: none;

            @media (width >= 1200px) {
                display: block;
            }
        }

        .about-us-content {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (width >= 1200px) {
                display: block;
                align-items: start;
            }
        }
    }
}

.quote {
    display: block;
    background-color: var(--quote-background-color);
    font-family: "DM Sans", sans-serif;
    color: var(--quote-text-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 3rem 3rem;
    border-radius: 20px;
    position: relative;
    margin: 2rem 0;

    &::after {
        content: "\F6B0";
        font-family: "Bootstrap Icons";
        color: var(--dark-grey-color);
        font-size: 8rem;
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        opacity: 0.1;
    }
}
/* ---------- About us section end ---------- */

/* ---------- Our programs section start ---------- */
.section__our-programs {
    background-color: var(--section-background-color);
    border-radius: 20px;
    padding: 5rem 0;
    margin: 1.5rem 0;

    .our-programs-area {
        display: grid;
        gap: 2rem;
        text-align: center;
    }

    .our-programs-slider {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @media (width >= 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }

        @media (width >= 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
    }

    .additional-information {
        color: var(--dark-color);
        font-weight: 600;
        font-size: 14px;

        a {
            display: block;

            @media (width >= 768px) {
                display: inline;
            }
        }
    }
}
/* ---------- Our programs section end ---------- */

/* ---------- Our store section start ---------- */
.section__our-store {
    padding: 5rem 0;
    margin: 1.5rem 0;

    .our-store-area {
        display: grid;
        gap: 2rem;
        text-align: center;
    }

    .our-store-slider {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @media (width >= 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        @media (width >= 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
        }
    }

    .additional-information {
        color: var(--dark-color);
        font-weight: 600;
        font-size: 14px;

        a {
            display: block;

            @media (width >= 768px) {
                display: inline;
            }
        }
    }
}
/* ---------- Our store section end ---------- */

/* ---------- Page Memberships start ---------- */

/* ---------- Memberships card start ---------- */
.section__memberships {
    padding: 5rem 0;
    margin: 1.5rem 0;

    @media (width >= 768px) {
        padding: 2rem 0;
    }

    @media (width >= 1200px) {
        padding: 1rem 0;
    }
}

.membership-title {
    display: grid;
    text-align: center;
    font-size: 38px;

    @media (width >= 768px) {
        font-size: 38px;
    }

    @media (width >= 1200px) {
        font-size: 48px;
    }
}

.memberships-card-area {
    display: grid;
    margin-top: 1rem;
    row-gap: 1rem;
    justify-content: center;

    @media (width >= 768px) {
        display: grid;
        margin-top: 2rem;
        gap: 2rem;
    }

    @media (width >= 1200px) {
        display: flex;
        margin-top: 3rem;
        gap: 2rem;
        justify-content: space-between;
    }

    @media (width >= 1400px) {
        display: flex;
        margin-top: 3rem;
        gap: 2rem;
        justify-content: space-between;
    }
}

.membership-card {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 0.8rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;

    @media (width >= 768px) {
        width: 400px;
    }
}

.membership-card-icon {
    display: flex;
    background-color: var(--color-primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.membership-card-headline {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 2rem 0 1rem 0;
    color: var(--dark-color);
}

.membership-card-content {
    text-align: left;
    padding: 2rem 2rem 1rem 2rem;



    .membership-description {
        margin-bottom: 2rem;
    }

    .membership-hr {
        border-color: var(--hr-color-grey);
        margin: 0;
        padding: 0;
    }

    .membership-checklist {
        list-style: none;
        padding: 0;
        margin: 0;

        .membership-checklist-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 1rem;

            &:before {
                content: "\F26A";
                font-family: "Bootstrap Icons";
                color: var(--dark-color);
                font-size: 1rem;
            }
        }
    }
}

.membership-price-card {
    background-color: var(--black-color);
    border-radius: 20px;
    padding: 1.5rem 1rem 2rem 1rem;
    text-align: left;

    .membership-price-card-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        @media (width >= 768px) {
            display: block;
        }

        @media (width >= 1200px) {
            display: block;
        }

        @media (width >= 1400px) {
            display: flex;
        }

        .sl {
            @media (width >= 768px) {
                margin-bottom: 1rem;
            }
        }
    }

    .card-price {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: var(--white-color);
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .card-montly {
        font-size: 12px;
        font-weight: 500;
    }

    .card-montly-classes {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: var(--white-color);
        margin: 0;
        padding: 0;
    }

    .membership-price-hr {
        margin: 1rem 0 1.5rem 0;
    }
}
/* ---------- Memberships card end ---------- */

/* ---------- Call-Us Today card start ---------- */

.call-us-today-card {
    background-color: var(--black-color);
    border-radius: 20px;
    width: 400px;
    position: relative;
    text-align: center;
    height: 600px;

    @media (width >= 768px) {
        height: 700px;
    }

    @media (width >= 1200px) {
        height: auto;
    }

    .call-us-today-content {
        padding: 2rem;
    }

    .call-us-title {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: var(--white-color);
    }

    .call-us-description {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: var(--white-color);
    }

    .call-us-hr {
        border-color: var(--hr-color-grey);
        margin: 0;
        padding: 0;
    }

    .call-us-number {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 800;
        color: var(--white-color);

        @media (width >= 768px) {
            font-size: 18px;
        }
    }

    .call-us-image {
        position: absolute;
        right: 0rem;
        bottom: 0rem;
    }
}

/* ---------- Call-Us Today card end ---------- */

/* ---------- Benefits start ---------- */
.section__benefits {
    padding: 1rem 0;
    margin: 1rem 0;

    @media (width >= 768px) {
        padding: 2rem 0;
    }

    @media (width >= 1200px) {
        padding: 1rem 0;
    }
}

.benefits-content {
    display: grid;
    width: 700px;
    padding: 0;
    color: var(--dark-color);

    @media (width >= 768px) {
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: 1rem auto 0 auto;
        color: var(--dark-color);
    }

    .benefits-text {
        margin: 0.5rem;

        @media (width >= 768px) {
            margin: 1rem;
        }

        @media (width >= 1200px) {
            margin: 0 0 0 0.5rem;
        }
    }

    .benefit-ls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        &::before {
            content: "\F1E2";
            font-family: "Bootstrap Icons";
            vertical-align: middle;
            margin-right: 4px;
            font-size: 1.2rem;
        }
    }

    .benefit-ms {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        &::before {
            content: "\F2DA";
            font-family: "Bootstrap Icons";
            vertical-align: middle;
            margin-right: 4px;
            font-size: 1.2rem;
        }
    }

    .benefit-rs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        &::before {
            content: "\F293";
            font-family: "Bootstrap Icons";
            vertical-align: middle;
            margin-right: 4px;
            font-size: 1.2rem;
        }
    }
}

/* ---------- Benefits end ---------- */

/* ---------- FAQ section start ---------- */
.section__faq {
    padding: 1rem 0;
    margin: 1rem 0;

    @media (width >= 768px) {
        padding: 2rem 0;
    }

    @media (width >= 1200px) {
        padding: 5rem 0;
    }

    .faq-area {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "faq-image"
            "faq-title"
            "faq-accordion";
        gap: 1rem;

        @media (width >= 768px) {
        }

        @media (width >= 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto 1fr;
            grid-template-areas: "faq-image faq-title"
                "faq-image faq-accordion"
                "faq-image faq-accordion";
            row-gap: 1rem;
            column-gap: 3rem;
        }
    }

    .faq-image {
        grid-area: faq-image;

        @media (width >= 768px) {
            justify-self: center;
        }
    }

    .faq-content {
        grid-area: faq-title;
        text-align: center;

        @media (width >= 768px) {
            text-align: center;
        }

        @media (width >= 1200px) {
            text-align: left;
        }
    }

    .faq-accrordion {
        grid-area: faq-accordion;

        @media (width >= 768px) {
            text-align: center;
        }

        @media (width >= 1200px) {
            text-align: left;
        }
    }
}

/* Accordion */
.accordion__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.questions__accordion {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;

    @media (width >= 768px) {
        width: 100%;
    }

    @media (width >= 1200px) {
        width: 100%;
        padding: 0 0rem 1rem 0rem;
    }
}

.active .questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 0.8rem;
}

.title__question {
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-color);
    cursor: pointer;
    width: 100%;
    padding-right: 1rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--hr-color-light);
}

.answer {
    display: none;
    margin-top: 0.5rem;
}

.active .answer {
    display: block;
    padding: 1rem 0px 0rem 0px;
    transition: all 0.3s ease-in;
}

.question::after {
    content: "\f282";
    font-family: "Bootstrap Icons";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--color-primary);
    color: var(--black-color);
    transition: transform 0.3s ease;
}

/* Activ state */
.active .question::after {
    transform: rotate(180deg);
}

/* ---------- FAQ section end ---------- */


/* ---------- Page Memberships end ---------- */

/* ---------- Page Customer Service start ---------- */
.section__customer-service {
    margin: 1rem 1rem;

    @media (width >= 768px) {
        padding: 1rem 0;
    }

    @media (width >= 1200px) {
        margin: 1.5rem 0;
        padding: 1rem;
    }
}

.customer-service-headline {
    text-align: center;
    display: grid;
    margin: 1rem 0;

    @media (width >= 768px) {
        margin: 1rem 0;
        padding-bottom: 1rem;
    }

    @media (width >= 1200px) {
        text-align: center;
        padding-bottom: 48px;
    }
}

.customer-service-area {
    display: grid;

    @media (width >= 1200px) {
        display: flex;
    }
}

.customer-service-image-container {
    display: grid;

    @media (width >= 768px) {
        display: block;
    }

    @media (width >= 1200px) {
        position: relative;
        display: inline-block;
    }
}

.customer-service-image {
    border-radius: 20px;

    @media (width >= 768px) {
        border-radius: 20px;
        width: 100%;
    }

    @media (width >= 1200px) {
        border-radius: 0;
    }
}

.customer-service-contact-box {
    background-color: var(--dark-color);
    border-radius: 20px;
    margin: 1rem 0;
    padding: 1rem 0 0 1.5rem;

    @media (width >= 1200px) {
        position: absolute;
        display: flex;
        gap: 3rem;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(64, 64, 64, 0.8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding: 2rem 2rem;
        border-radius: 20px;
        white-space: nowrap;
    }
}

.customer-service-image-contact-box-sections {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

    @media (width >= 1200px) {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .customer-service-image-contact-box-headline {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: var(--white-color);
        margin: 0;
        padding: 0;
    }

    .customer-service-image-contact-box-text {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: var(--white-color);
        margin: 0;
        padding: 0;
    }

    .customer-service-image-contact-box-link {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: var(--white-color);
        margin: 0;
        padding: 0;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
}
/* Form Customer Service */
.customer-service-form-area {
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 20px;
    width: 100%;

    @media (width >= 1200px) {
        padding: 4rem;
        background-color: var(--white-color);
        border-radius: 20px;
        width: 700px;
    }

    .customer-service-form-headline {
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: var(--dark-color);
        margin-bottom: 0.5rem;
    }

    .customer-service-form-description {
        margin: 0;
        padding: 0 0 1rem 0;
    }

    .customer-service-form-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0 auto;

        @media (width >= 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin: 0 auto;
        }

        .customer-service-form-label {
            padding-bottom: 0.5rem;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: var(--dark-color);
        }

        .required::after {
            content: " *";
            color: var(--dark-color);
            font-weight: 600;
        }

        .customer-service-form-input {
            background-color: var(--form-input-bg-color);
            font-family: "DM Sans", sans-serif;
            color: var(--form-input-text-color);
            padding: 1.1rem;
            border-radius: 10px;
            border: 1px solid transparent;
            font-size: 1rem;

            &:focus {
                color: var(--dark-color);
                border: 1px solid var(--color-primary);
                font-size: 1rem;
            }

            &::placeholder {
                font-size: 1rem;
            }
        }

        .customer-service-form-textarea {
            background-color: var(--form-input-bg-color);
            font-family: "DM Sans", sans-serif;
            color: var(--form-input-text-color);
            padding: 1.5rem;
            border-radius: 10px;
            border: 1px solid transparent;
            font-size: 1rem;
            height: 157px;
            resize: none;
            margin-bottom: 2rem;

            &:focus {
                color: var(--dark-color);
                border: 1px solid var(--color-primary);
                font-size: 1rem;
            }

            &::placeholder {
                font-size: 1rem;
            }
        }

        .customer-service-form-group {
            display: flex;
            flex-direction: column;
        }

        .full-width {
            grid-column: 1 / -1;
        }
    }
}


/* ---------- Page Customer Service end ---------- */

/* ---------- Page My Account section start ---------- */
.section__my-account {
    margin: 1rem 1rem;

    @media (width >= 768px) {
        padding: 1rem 0;
    }

    @media (width >= 1200px) {
        margin: 1.5rem 0;
        padding: 1rem;
    }

    .my-account-headline {
        text-align: center;
        display: grid;
        margin: 1rem 0;

        @media (width >= 768px) {
            margin: 1rem 0;
            padding-bottom: 1rem;
        }

        @media (width >= 1200px) {
            text-align: center;
            padding-bottom: 48px;
        }
    }

    .my-account-area {
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;

        @media (width >= 768px) {
            display: grid;
            grid-template-columns: auto;
            gap: 2rem;
        }

        @media (width >= 1200px) {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 2rem;
        }

        .my-account-section-left {

            .my-account-image {
                display: grid;
                justify-content: center;
                width: 100%;

                @media (width >= 768px) {
                    display: grid;
                    justify-content: center;
                    width: 100%;
                }
            }

            .my-account-menu {
                background-color: var(--white-color);
                border-radius: 20px;

                h3 {
                    background-color: var(--color-primary);
                    padding-left: 2rem;
                    border-radius: 20px 20px 0 0;
                    font-family: "Poppins", sans-serif;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 65px;
                    color: var(--dark-color);
                }

                .my-account-menu-list {
                    margin: 0;
                    padding: 0;

                    .my-account-menu-list-item {
                        list-style: none;
                        padding: 1rem 0;
                        margin: 0 2rem 0 2rem;
                        border-bottom: 1px solid var(--hr-color-light);

                        .my-account-menu-list-item-link {
                            display: flex;
                            justify-content: space-between;
                            text-decoration: none;
                            font-family: "Poppins", sans-serif;
                            font-size: 1rem;
                            font-weight: 600;
                            color: var(--dark-color);

                            &:hover {
                                color: var(--link-hover-color);
                            }

                            &:active,
                            &.active {
                                color: var(--link-hover-color);
                            }

                            &::after {
                                content: "\F285";
                                font-family: "Bootstrap Icons";
                                vertical-align: middle;
                                margin-left: 1rem;
                                color: currentColor;
                            }
                        }
                    }

                    .my-account-menu-list-item-last {
                        list-style: none;
                        padding: 1rem 0;
                        margin: 0 2rem 0 2rem;

                        .my-account-menu-list-item-link {
                            display: flex;
                            justify-content: space-between;
                            text-decoration: none;
                            font-family: "Poppins", sans-serif;
                            font-size: 1rem;
                            font-weight: 600;
                            color: var(--dark-color);

                            &:hover {
                                color: var(--link-hover-color);
                            }

                            &:active,
                            &.active {
                                color: var(--link-hover-color);
                            }

                            &::after {
                                content: "\F285";
                                font-family: "Bootstrap Icons";
                                vertical-align: middle;
                                margin-left: 1rem;
                                color: currentColor;
                            }
                        }
                    }
                }
            }
                /* Make the sign-out button look like the menu links */
                .my-account-menu .btn--sign-out {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    background: transparent;
                    border: none;
                    padding: 0;
                    font-family: "Poppins", sans-serif;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--dark-color);
                    text-decoration: none;
                    cursor: pointer;
                }

                    .my-account-menu .btn--sign-out::after {
                        content: "\F285";
                        font-family: "Bootstrap Icons";
                        vertical-align: middle;
                        margin-left: 1rem;
                        color: currentColor;
                        font-size: 1rem;
                    }

                    .my-account-menu .btn--sign-out:hover,
                    .my-account-menu .btn--sign-out:active {
                        color: var(--link-hover-color);
                    }


            .remove-account-area {
                text-align: center;
                padding-top: 1rem;

                .remove-account-text {
                    font-family: "Poppins", sans-serif;
                    font-size: 10px;
                    font-weight: 400;
                    color: var(--dark-color);
                }

                .remove-account {
                    text-decoration: none;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--danger-color);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .my-account-section-right {
        display: grid;
        row-gap: 1rem;
    }

    .my-account-statistic-headline {
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        padding-bottom: 1rem;
    }

    .my-account-section-top {
        background-color: var(--white-color);
        border-radius: 20px;
        padding: 3rem 3rem 3rem 3rem;
        width: 100%;

        .my-account-about-me {
            margin: 0;
            padding: 0;
        }

        .my-account-hr1 {
            border-color: var(--hr-color-grey);
            margin: 1.5rem 0 2rem 0;
        }

        .my-account-hr2 {
            border-color: var(--hr-color-grey);
            margin: 1.5rem 0 0rem 0;
        }
        /* Form About Me */
        .my-account-form-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            margin: 0 auto;

            .my-account-form-label {
                padding-bottom: 0.5rem;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: var(--dark-color);
            }

            .required::after {
                content: " *";
                color: var(--dark-color);
                font-weight: 600;
            }

            .my-account-form-input {
                background-color: var(--form-input-bg-color);
                font-family: "DM Sans", sans-serif;
                color: var(--form-input-text-color);
                padding: 1.1rem;
                border-radius: 10px;
                border: 1px solid transparent;
                font-size: 1rem;

                &:focus {
                    color: var(--dark-color);
                    border: 1px solid var(--color-primary);
                    font-size: 1rem;
                }

                &::placeholder {
                    font-size: 1rem;
                }
            }

            .my-account-form-group {
                display: flex;
                flex-direction: column;
            }

            .account-save-button {
                text-align: right;
                margin-top: 2rem;
            }
        }
    }
}


/* I used ChatGPT to make the html and css for the uploaded image section of the form. */
.form-input-button {
    border-radius: 10px;
    border: 1px solid var(--grey-color);
    background-color: var(--grey-color);

    &:hover {
        background-color: var(--dark-grey-color);
        color: var(--light-color);
        border: 1px solid var(--grey-color);
    }

    &::after {
        content: "";
        font-family: "Bootstrap Icons";
        vertical-align: middle;
        margin-left: 0;
        color: currentColor;
    }
}

.file-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.file-input-hidden {
    display: none;
}

.file-input-display {
    width: 100%;
    padding-right: 120px;
}

.file-input-button {
    position: absolute;
    right: 10px;
    height: 70%;
    padding: 0 1rem;
    cursor: pointer;
}

.my-statistics-area {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 1.5rem 2rem 2rem 2rem;

    .my-statistic-text {
        display: flex;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: var(--dark-color);
    }
    /* Copilot helpt me with the statusbars and set the statusbars by procent with the class .stat-bar-checkin osv.  */
    .stat-bar-wrapper {
        position: relative;
        width: 100%;
        height: 12px;
        border-radius: 10px;
        margin-bottom: 1rem;
        overflow: hidden;
        background-color: var(--light-color);
    }

    .stat-bar-grey {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--light-color);
        border-radius: 10px;
    }

    .stat-bar-green {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--color-primary);
        border-radius: 10px;
    }

    .stat-bar-checkin {
        width: 95%;
    }

    .stat-bar-weight {
        width: 50%;
    }

    .stat-bar-current {
        width: 65%;
    }
}


/* ---------- Page My Account section end ---------- */


/* ---------- Not found Page start ---------- */
.not-found-area {
    display: grid;
    justify-content: center;
    padding-top: 10rem;
}

.not-found-content {
    text-align: center;

    .not-found-headline {
        font-family: "Poppins", sans-serif;
        font-size: 54px;
        font-weight: 700;
        color: var(--dark-color);
        padding-bottom: 1.5rem;
    }

    .not-found-text {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 3rem;
    }
}

/* ---------- Not found Page end ---------- */

/* ---------- Sign In Page start ---------- */
.sign-in-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-content {
    background-color: var(--white-color);
    border-radius: 20px;
    width: 860px;
    height: 943px;
    margin-top: 140px;
    padding: 4rem;
}

.sign-in-external-login {
    display: flex;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 4rem;
    padding-top: 2.5rem;
}

/* Sign In External Login start  */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
    max-width: 400px;
    min-width: min-content;
}

    .gsi-material-button .gsi-material-button-icon {
        height: 20px;
        margin-right: 10px;
        min-width: 20px;
        width: 20px;
        margin: 0;
        padding: 9px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gsi-material-button:disabled {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
    }

        .gsi-material-button:disabled .gsi-material-button-contents {
            opacity: 38%;
        }

        .gsi-material-button:disabled .gsi-material-button-icon {
            opacity: 38%;
        }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state,
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

        .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
            background-color: #303030;
            opacity: 8%;
        }
/* Sign In External Login end  */


/* Googles AI help me to create the "or continue with" divider , I switch the color to the theme colors. */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--dark-grey-color);
}

    .divider::before,
    .divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--grey-color);
    }

    .divider:not(:empty)::before {
        margin-right: .5em;
    }

    .divider:not(:empty)::after {
        margin-left: .5em;
    }

/* Form */
.sign-in-form-area {
    padding-top: 2rem;
    width: 100%;
}

.sign-in-form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 auto;
}

.sign-in-form-label {
    padding-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-color);
}

.required::after {
    content: " *";
    color: var(--dark-color);
    font-weight: 600;
}

.sign-in-form-input {
    background-color: var(--form-input-bg-color);
    font-family: "DM Sans", sans-serif;
    color: var(--form-input-text-color);
    padding: 1.1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 1rem;

    &:focus {
        color: var(--dark-color);
        border: 1px solid var(--color-primary);
        font-size: 1rem;
    }

    &::placeholder {
        font-size: 1rem;
    }
}

.sign-in-form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: 1 / -1;
}

.sign-in-link {
    text-decoration: none;
    text-align: end;

    &:hover {
        text-decoration: underline;
    }
}

.sign-in-block {
    text-align: center;
}

.sign-in-block-button {
    width: 556px;
    margin-bottom: 2rem;
}

/* ---------- Sign In Page end ---------- */


.auth-form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.continue-block {
    padding: 0;
    margin: 2rem;
    text-align: center;
}

.continue-block-button{
    width: 556px;
}

.accept-terms{
    padding-top: 3rem;
}

/* Validation */
.field-validation-error{
   padding-top:5px;
   padding-left: 5px;
   color: var(--danger-color);
}
