<section class="section__customer-service">
    <div class="container">
        <h2 class="customer-service-headline">Customer Service</h2>
        <div class="customer-service-area">
            <div class="customer-service-image-container">
                <img src="/images/contact-us-image.png" alt="Customer Service" class="customer-service-image" />
                <div class="customer-service-contact-box">
                    <div class="customer-service-image-contact-box-sections">
                        <div class="membership-card-icon">
                            <img src="/images/phone.svg" />
                        </div>
                        <div>
                            <p class="customer-service-image-contact-box-headline">Phone Number</p>
                            <a href="#" class="customer-service-image-contact-box-link">+(46) 8 410 521 00</a>
                        </div>
                    </div>
                    <div class="customer-service-image-contact-box-sections">
                        <div class="membership-card-icon">
                            <img src="/images/mail.svg" />
                        </div>
                        <div>
                            <p class="customer-service-image-contact-box-headline">Email Address</p>
                            <span class="customer-service-image-contact-box-text"><a href="#" class="customer-service-image-contact-box-link">info@corefitness.se</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customer-service-form-area">
                <h3 class="customer-service-form-headline">Contact Us Today</h3>
                <p class="customer-service-form-description">Ready to begin your fitness journey? Contact GymPro today and let our expert trainers guide you with the right program and support.</p>
                <form class="customer-service-form-container" novalidate>
                    <div class="customer-service-form-group">
                        <label class="customer-service-form-label required" for="name" required>First Name</label>
                        <input class="customer-service-form-input" type="text" id="name" name="name" placeholder="Enter First Name" required>
                    </div>
                    <div class="customer-service-form-group">
                        <label class="customer-service-form-label required" for="name" required>Last Name</label>
                        <input class="customer-service-form-input" type="text" id="name" name="name" placeholder="Enter First Name" required>
                    </div>
                    <div class="customer-service-form-group">
                        <label class="customer-service-form-label required" for="name" required>Emil Address</label>
                        <input class="customer-service-form-input" type="text" id="name" name="name" placeholder="Enter Email Address" required>
                    </div>
                    <div class="customer-service-form-group">
                        <label class="customer-service-form-label" for="name">Phone Number</label>
                        <input class="customer-service-form-input" type="text" id="name" name="name" placeholder="Enter Phone Number" required>
                    </div>
                    <div class="customer-service-form-group full-width">
                        <label class="customer-service-form-label required" for="name" required>Message</label>
                        <textarea class="customer-service-form-textarea" type="text-area" id="name" name="name" placeholder="Message..." required></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn">Submit Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<partial name="Partials/Sections/_FaqSection" />