<section class="brands">
    <div class="brand-area">
        <div>
            <img src="~/images/Brands/brand-logo-1.svg" class="brand-image" />
            <img src="~/images/Brands/brand-logo-2.svg" class="brand-image" />
            <img src="~/images/Brands/brand-logo-3.svg" class="brand-image" />
            <img src="~/images/Brands/brand-logo-4.svg" class="brand-image" />
            <img src="~/images/Brands/brand-logo-5.svg" class="brand-image" />
        </div>
        <div>
            <p class="brand-text">Modern Equipment</p>
        </div>
    </div>
</section>
   