<section class="hero-section">
    <div class="hero-area">
        <div class="hero-area-left">
            <div class="hero-badge">
                <div class="badge">
                    <div class="badge-dot"></div><p class="badge-text">Strong Body. Strong Mind.</p>
                </div>
            </div>
            <div class="hero-headline">
                <h1>Build Strength Boost Confidence Today!</h1>
            </div>
            <div class="hero-ingress">
                <p class="ingress-text">
                    Begin your fitness journey with expert trainers, modern equipment, and a
                    supportive environment designed to help you build streangth and confidence.
                </p>
            </div>
            <div class="hero-checklist-area">
                <div>
                    <ul>
                        <li class="hero-list-item"><i class="bi bi-check-circle list-icon"></i>Transform your body with training</li>
                        <li class="hero-list-item"><i class="bi bi-check-circle list-icon"></i>Build confidence through fitness</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="hero-list-item"><i class="bi bi-check-circle list-icon"></i>Personal training for real results</li>
                        <li class="hero-list-item"><i class="bi bi-check-circle list-icon"></i>Fitness tailored to your goals</li>
                    </ul>
                </div>
            </div>
            <div class="hero-button">
                <button class="btn">Get Started<i class="bi bi-chevron-right signinicon"></i></button>
            </div>
        </div>
        <div>
            <div class="hero-image">
                <img src="~/images/hero-image.svg" />
            </div>
        </div>
    </div>
</section>