<section class="section__about-us">
    <div class="container">
        <div class="about-us-area">
            <img class="about-us-image" src="~/images/about-us-image.png" alt="People woking out at the gym" />
            <div class="about-us-content">
                <div class="badge">About us</div>
                <h2 class="title">Elevating Fitness Journey with Expert Guidance</h2>
                <p class="description">We support every stage of your fitness journey with certified trainers, personalized programs proven methods designed to help you train safely, build strength.</p>
                <div class="quote">Our mission is to transform lives by combining expert guidance, powerful training programs, and a motivating community that helps you grow stronger every day.</div>
            </div>
        </div>
    </div>
</section>