<section class="section__benefits">
    <div class="benefits">
        <div class="benefits-content">
            <div class="benefit-ls"><p class="benefits-text">Get 30 day free trial</p></div>
            <div class="benefit-ms"><p class="benefits-text">No any hidden fees pay</p></div>
            <div class="benefit-rs"><p class="benefits-text">You can cancel anytime</p></div>
        </div>
    </div>
</section>