<section class="section__brands">
    <div class="brand-slider">
        <img id="brand-1" src="~/images/brand-logo-1.png" alt="Brand 1" />
        <img id="brand-2" src="~/images/brand-logo-2.png" alt="Brand 2" />
        <img id="brand-3" src="~/images/brand-logo-3.png" alt="Brand 3" />
        <img id="brand-4" src="~/images/brand-logo-4.png" alt="Brand 4" />
        <img id="brand-5" src="~/images/brand-logo-5.png" alt="Brand 5" />
    </div>
    <h2 class="brand-text">Modern Equipment</h2>
</section>