<section class="section__faq">
    <div class="container">
        <div class="faq-area">
            <div class="faq-image">
                <img src="/images/faqs-image.png" alt="A man lifting weights at the gym" />
            </div>
            <div class="faq-content">
                <div class="badge">Frequently Asked Questions</div>
                <h2 class="faq-title">Common questions about gym and training</h2>
            </div>
            <div class="faq-accordion">
                <div class="accordion__wrapper">
                    <div class="questions__accordion">

                        <div class="questions-answer__accordion">
                            <div class="question">
                                <span class="title__question">Q1. Do I need prior gym experience to Join CoreFitness?</span>
                            </div>
                            <div class="answer">
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with proper techniques and structured workout plans to help them start safely and confidently.
                                <ul>
                                    <li>Every new member receives a personalized introduction to equipments</li>
                                    <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="questions-answer__accordion">
                            <div class="question">
                                <span class="title__question">Q2. What facilities are included with the membership?</span>
                            </div>
                            <div class="answer">
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with proper techniques and structured workout plans to help them start safely and confidently.
                                <ul>
                                    <li>Every new member receives a personalized introduction to equipments</li>
                                    <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="questions-answer__accordion">
                            <div class="question">
                                <span class="title__question">Q3. Can I try them gym before taking a membership?</span>
                            </div>
                            <div class="answer">
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with proper techniques and structured workout plans to help them start safely and confidently.
                                <ul>
                                    <li>Every new member receives a personalized introduction to equipments</li>
                                    <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="questions-answer__accordion">
                            <div class="question">
                                <span class="title__question">Q4. Are there group workout programs available?</span>
                            </div>
                            <div class="answer">
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with proper techniques and structured workout plans to help them start safely and confidently.
                                <ul>
                                    <li>Every new member receives a personalized introduction to equipments</li>
                                    <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="questions-answer__accordion">
                            <div class="question">
                                <span class="title__question">Q5. Is nutrition guidance included in the plans?</span>
                            </div>
                            <div class="answer">
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with proper techniques and structured workout plans to help them start safely and confidently.
                                <ul>
                                    <li>Every new member receives a personalized introduction to equipments</li>
                                    <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>