<section class="section__hero">
    <hr class="hero-hr">
    <div class="container">
        <div class="hero-area">
            <div class="hero-title">
                <div class="badge">Strong Body. Strong Mind.</div>
                <h1>Build Strength Boost Confidence Today!</h1>
            </div>
            <p class="hero-description">Begin your fitness journey with expert trainers, modern equipment, and a supportive environment designed to help you build streangth and confidence.</p>
            <ul class="hero-checklist check-list">
                <li class="hero-check-list-item">Transform your body with training</li>
                <li class="hero-check-list-item">Personal training for real results</li>
                <li class="hero-check-list-item">Build confidence through fitness</li>
                <li class="hero-check-list-item">Fitness tailored to your goals</li>
            </ul>
            <hr class="hero-hr">
            <div class="cta-btn">
                <a class="btn btn--primary btn--icon" href="#">Get Started</a>
            </div>
            <img class="hero-image" src="~/images/hero-image.png" alt="A man and a women posing for the gym" />
        </div>
    </div>
</section>