<section class="section__our-programs">
    <div class="container">
        <div class="our-programs-area">
            <div class="section-title">
                <div class="badge">Our programs</div>
                <h2>Professional training program for stronger health</h2>
            </div>
            <div class="our-programs-slider">
                <img src="~/images/our-program-image-1.png" alt="Man working out with battleropes " />
                <img src="~/images/our-program-image-2.png" alt="Gym equipments" />
                <img src="~/images/our-program-image-3.png" alt="A man lifts a bar" />
            </div>
            <div class="additional-information">Let's make something great work together. <a asp-controller="Memberships" asp-action="Index">Get Free Quote</a></div>
        </div>
    </div>
</section>