<section class="section__our-store">
    <div class="container">
        <div class="our-store-area">
            <div class="section-title">
                <div class="badge">Our Store</div>
                <h2>High quality fitness products built for results</h2>
            </div>
            <div class="our-store-slider">
                <img src="~/images/our-store-image-1.png" alt="Barbell" />
                <img src="~/images/our-store-image-2.png" alt="Gym bag" />
                <img src="~/images/our-store-image-3.png" alt="Fitness watch" />
                <img src="~/images/our-store-image-4.png" alt="Runingtrack" />
            </div>
            <div class="additional-information">Let's make something great work together. <a asp-controller="Memberships" asp-action="Index">Get Free Quote</a></div>
        </div>
    </div>
</section>