<section class="section__header">
    <div class="logotype">
        <a href="/"><img src="~/images/logotype.png" alt="CoreFitness logotype" /></a>
    </div>
    <nav class="main-menu">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-item-link" href="/fitness-center">Fitness Centers</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-controller="Memberships" asp-action="Index">Memberships</a>
            </li>
            <li class="menu-item menu-item--has-dropdown">
                <a class="menu-item-link dropdown-toggle">Training</a>
                <ul class="dropdown">
                    <li class="menu-item"><a asp-controller="Training" asp-action="Index" class="menu-item-dropdown-link">Personal Training</a></li>
                    <li class="menu-item"><a asp-controller="Training" asp-action="Group" class="menu-item-dropdown-link">Group Training</a></li>
                    <li class="menu-item"><a asp-controller="Training" asp-action="Padel" class="menu-item-dropdown-link">Padel</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-controller="CustomerServices" asp-action="Index">Customer Service</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" href="/store">Store</a>
            </li>
        </ul>
    </nav>
    <nav class="account-menu">

        @if (User.Identity?.IsAuthenticated == true)
        {
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-item-link" asp-controller="Class" asp-action="Index">Our Classes</a>
                </li>
                <li class="menu-item">
                    <a class="btn btn--primary btn--icon" asp-controller="Account" asp-action="My">My Account</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-item-link" asp-controller="Authentication" asp-action="SignUp">Become Member</a>
                </li>
                <li class="menu-item">
                    <a class="btn btn--primary btn--icon" asp-controller="Authentication" asp-action="SignIn">Sign In</a>
                </li>
            </ul>
        }
    </nav>
    <!-- I got help from ChatGPT to create the mobile navigation -->
    <button id="mobile-menu-button" data-target="#mobile-menu-flyout" class="btn btn--primary mobile-btn"></button>
    <div id="mobile-menu-flyout" class="mobile-menu-flyout">
        <nav class="mobile-nav">
            <div class="mobile-section"></div>
            <div class="mobile-section"></div>
        </nav>
    </div>
</section>




    
