<section class="about-us-section">
    <div class="about-us-area">
    <div class="left">
        <div>
            <img src="~/images/about-us-image-left-column.png" />
        </div>
    </div>

    <div class="right">
        <div class="badge">
            <div class="badge-dot"></div><p class="badge-text">About Us</p>
        </div>
        <div>
            <h2 class="about-us-headline">
                Elevating Fitness Journey with Expert Guidance
            </h2>
        </div>
        <div>
            <p class="about-us-text">
                We support every stage of your fitness journey with certified trainers, personalized
                programs proven methods designed to help you train safely, build strength.
            </p>
        </div>
            <div class="about-us-quote">
            <p>
                Our mission is to transform lives by combining expert guidance,
                powerful training programs, and a motivating community that helps
                you grow stronger every day.
            </p>
        </div>
    </div>
    </div>
</section>