@{
    var title = ViewData["Title"]?.ToString();
    var pageTitle = string.IsNullOrWhiteSpace(title)
    ? "CoreFitness Gym | Gym & Fitness"
    : $"{title} | CoreFitness Club";     
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>

    <div class="app-layout">
        <header>
            <partial name="Partials/_HeaderSection" />
            
            
        </header>
        <partial name="Partials/_HeroSection" />
        
        
        <main role="main" class="pb-3">
            <partial name="Partials/_BrandsSection" />
            @RenderBody()            
        </main>
        <footer>
            <partial name="Partials/_FooterSection" />
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
