@section Hero {
    <partial name="Partials/Sections/_HeroSection" />
}

<div class="home-page">
    <partial name="Partials/Sections/_BrandsSection" />
    <partial name="Partials/Sections/_AboutUsSection" />
    <partial name="Partials/Sections/_OurProgramsSection" />
    <partial name="Partials/Sections/_OurStoreSection" />
</div>