@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section__my-account">
    <div class="container">
        <h2 class="my-account-headline">My Account</h2>
        <div class="my-account-area">
            <div class="my-account-section-left">
                <div class="my-account-image"><img src="/images/profile-image-avatar.png" /></div>
                    
                <div class="my-account-menu">
                    <h3>Menu Options</h3>
                    <ul class="my-account-menu-list">
                        <li class="my-account-menu-list-item"><a href="#" class="my-account-menu-list-item-link">About Me</a></li>
                        <li class="my-account-menu-list-item"><a href="#" class="my-account-menu-list-item-link">My Membership</a></li>
                        <li class="my-account-menu-list-item"><a href="#" class="my-account-menu-list-item-link">My Bookings</a></li>
                        <form class="my-account-menu-list-item-last" asp-controller="Authentication" asp-action="SignOut" method="post" novalidate>
                            <button class="btn btn--sign-out btn--icon" type="submit">Sign Out</button>
                        </form>
                    </ul>
                </div>
                <div class="remove-account-area">
                    <p class="remove-account-text">If you like to cancel your account click below</p>
                    <a class="remove-account" href="#">Remove Account</a>
                </div>
            </div>
                
            <div class="my-account-section-right">
                <div class="my-account-section-top">
                    <h2 class="my-account-about-me">About Me</h2>
                    <hr class="my-account-hr1" />
                    <form class="my-account-form-container" novalidate>
                        <div class="my-account-form-group">
                            <label class="my-account-form-label" for="name">First Name</label>
                            <input class="my-account-form-input" type="text" id="name" name="name" placeholder="Enter First Name" required>
                        </div>
                        <div class="my-account-form-group">
                            <label class="my-account-form-label" for="name">Last Name</label>
                            <input class="my-account-form-input" type="text" id="name" name="name" placeholder="Enter Last Name" required>
                        </div>
                        <div class="my-account-form-group">
                            <label class="my-account-form-label required" for="name" required>Emil Address</label>
                            <input class="my-account-form-input" type="text" id="name" name="name" placeholder="Enter Email Address" required>
                        </div>
                        <div class="my-account-form-group">
                            <label class="my-account-form-label" for="name">Phone Number</label>
                            <input class="my-account-form-input" type="text" id="name" name="name" placeholder="Enter Phone Number" required>
                        </div>
                        <hr class="my-account-hr2" />
                        <!-- I used ChatGPT to make the html and css for the uploaded section of the form. -->
                        <div class="my-account-form-group">
                            <label class="my-account-form-label" for="profileImage">Profile Image</label>
                            <div class="file-input-wrapper">
                                <input type="file" id="profileImage" name="profileImage" class="file-input-hidden" accept="image/*">
                                <input type="text" class="my-account-form-input file-input-display" placeholder="Upload Profile Image" readonly>
                                <button type="button" class="btn form-input-button file-input-button">Browse</button>
                            </div>
                        </div>
                        <div class="account-save-button">
                            <button type="submit" class="btn btn--primary btn--icon">Save</button>
                        </div>
                    </form>
                </div>
                <div class="my-account-section-middle">
                    <h3 class="my-account-statistic-headline">My Statistics</h3>
                    <div class="my-statistics-area">
                        <!-- Copilot helpt me with the statusbar and css to the elements. -->
                        <div class="my-statistic-text">
                            <p>Check-In (last 30 days)</p>
                            <p>25</p>
                        </div>
                        <div class="stat-bar-wrapper">
                            <div class="stat-bar-grey"></div>
                            <div class="stat-bar-green stat-bar-checkin"></div>
                        </div>
                        <div class="my-statistic-text">
                            <p>Weight Goal</p>
                            <p>50%</p>
                        </div>
                        <div class="stat-bar-wrapper">
                            <div class="stat-bar-grey"></div>
                            <div class="stat-bar-green stat-bar-weight"></div>
                        </div>
                        <div class="my-statistic-text">
                            <p>Current BMI</p>
                            <p>27</p>
                        </div>
                        <div class="stat-bar-wrapper">
                            <div class="stat-bar-grey"></div>
                            <div class="stat-bar-green stat-bar-current"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>