@using Presentation.WebApp.ViewModels
@{
    Layout = "Layouts/_AuthLayout";

    //Title on the page
    ViewData["Title"] = "Sign Up";
}
@model SignUpVM

<section class="section__sign-in">
    <div class="container">
        <div class="sign-in-area">
            <div class="sign-in-content">
                <h2>Become a Member</h2>
                <p>Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
                <hr />
                <div class="sign-in-external-login">
                </div>
                <div class="divider">
                    <span>OR CONTINUE WITH</span>
                </div>
                <div class="sign-in-form-area">
                    <form asp-controller="Authentication" asp-action="SignUp" method="post" novalidate>
                        <div class="sign-in-form-group">
                            <label class="sign-in-form-label required" required asp-for="@Model.Form.Email"></label>
                            <input class="sign-in-form-input" asp-for="@Model.Form.Email" />
                            <span asp-validation-for="@Model.Form.Email"></span>
                        </div>
                        <div class="continue-block">
                            <button class ="btn btn--primary btn--icon continue-block-button" type="submit">Continue</button>
                            <p>We will send a verification code to your email address.</p>
                        </div>
                    </form>
                </div>                        
            </div>
        </div>
    </div>
</section>