<section class="section__not-found">
    <div class="container">
        <div class="not-found-area">
            <img class="not-found-image" src="/images/404-error-image.png" />
            <div class="not-found-content">
                <h5 class="not-found-headline">Ooops! page not found</h5>
                <p class="not-found-text">The page you are looking for does not exists.</p>
                <button class="btn btn--primary btn--icon">Back to Homepage</button>
            </div>
        </div>
    </div>
</section>